<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.pinming.microservice.measure.biz.mapper.MeasureStandardMapper">
    <delete id="deleteMeasureStandardList" parameterType="java.util.List">
        delete from d_measure_standard
        <where>
            item_id in
            <foreach collection="itemId" open="(" item="item" separator="," index="index" close=")">
                #{item}
            </foreach>
        </where>
    </delete>
</mapper>